# 자바스크립트 파일을 Plaintext로 처리
*.js linguist-language=Plaintext

# CSS 파일 제외
*.css linguist-vendored

# 이미지 파일 제외
*.png linguist-vendored
*.jpg linguist-vendored

# Java 파일이 잘 반영되도록 강제로 "Java"로 지정
*.java linguist-language=Java
